@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Bitter");

.App {
  display: flex;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.Title {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  text-align: center;
  font-size: 60px;
  color: rgb(75, 144, 223);
  margin: 20px;
  margin-bottom: 0px;
}

.Intro {
  text-align: center;
  margin: 20px;
}
